/* hero */
#hero{
    display: flex;
    height: calc(100vh - var(--nav-height));
    align-items: center;
    justify-content: space-between;
    margin-top: var(--nav-height);
}


.hero-contant h1{
   margin-bottom: 0.5rem; 
   opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}


.hero-contant p{
    margin-bottom: 2rem;
    width: 70%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.hero-contant .hero-btn{
    display: flex;
}
.hero-contant  button:last-of-type{
    background-color: transparent;
    color: var(--main-color);
    margin-left: 2rem;
    display: flex;
    align-items: center;
    
}

.hero-contant  button i{
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 5px;
}
.hero-slider .slide{
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 2s;
}
.hero-slider video{
    width: 22rem;
    height: 27rem;
    object-fit: cover;
    border-radius: 20px;
    box-shadow:var(--box-shadow);
    animation: zoomIn 1s ease forwards;
    animation-delay: 1s;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

.hero-slider video source{
    width: 100%;
    height: 100%;
}



/* lobe tour section style */
#lobeTour{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}
.tour-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.tour-header p{
    text-align: center;
    width: 60%;
    margin-top: 0.5rem;
}

.tour-img-content{
    width: 100%;
}
.tour-img-content img{
    height: 32rem;
    width: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    
}

.tour-img-content img:hover{
    transform: scale(1.01);
    box-shadow: var(--box-shadow);
}
.tour-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}
.tour-bottom h1{
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 1024px){
    /* hero style */
    #hero{
        height: 50vh;
    }
}
@media only screen and (max-width: 768px) {
    #hero{
        height: 80vh;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hero-slider{
        margin-top: 2rem;
    }

    .hero-slider video{
        width: 20rem;
        height: 24rem;
    
    }
    .hero-contant{
       display: flex;
       flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .hero-contant h1{
        text-align: center;
    }
    .hero-contant p{
        width: 70%;
        text-align: center;
    }
    .hero-contant button:last-of-type{
        margin-left: 1rem;
    }


    /* tour */
    .tour-header p{
        width: 70%;
    }
    .tour-img-content img{
        width: 100%;
        height: 20rem;
    }
    .tour-bottom h1{
        width: 70%;
    }

}
@media only screen and (max-width: 412px)  {
    .hero-slider video{
        width: 18rem;
        height: 22rem;
    
    }
    .hero-contant p{
        width:90%;
        margin-bottom: 0.5rem;
    }


    .tour-header p{
        width: 90%;
    }
    .tour-img-content img{
        width: 100%;
        height: 15rem;
    }
    .tour-bottom h1{
        width: 90%;
    }
    
}


@media only screen and (max-width:360px){
    #hero{
        padding: 0 2rem;
    }
    .hero-slider{
        width: 100%;
    }
    .hero-slider video{
        width: 100%;
        height: 13rem;
    }


    /* lobe tour sec */
    .tour-img-content img{
        height: 12rem;
        
    }
    
}